{% extends "home.html" %} {% block title %} HOME {% endblock %} {% block
content%}
<main id="main">
  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div
          class="col-lg-3 order-1 order-lg-2"
          data-aos="zoom-in"
          data-aos-delay="100"
          style="padding-top: 100px"
        >
          <div class="about-img">
            <img src="assets/img/hair.png" alt="" />
          </div>
        </div>
        <div
          class="col-lg-3 order-1 order-lg-2"
          data-aos="zoom-in"
          data-aos-delay="100"
        >
          <div class="about-img" style="margin-bottom: 20px">
            <img src="assets/img/skin.jpg" alt="" />
          </div>
          <div class="about-img">
            <img src="assets/img/makeup.jpg" alt="" />
          </div>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
          <div class="section-title">
            <p>ABOUT US</p>
          </div>

          <ul>
            <li>
              <i class="icofont-check-circled"></i> Sanitisation of all tools &
              equipment after each service
            </li>
            <li>
              <i class="icofont-check-circled"></i> Daily Temperature check
            </li>
            <li>
              <i class="icofont-check-circled"></i> Equipped with safety
              gears(PPE Kits, Gloves & Face Shield)
            </li>
            <li>
              <i class="icofont-check-circled"></i> Only disposable kits to be
              used
            </li>
          </ul>
          <p>
            Please be assured that we are taking all the necessary precautions
            and following the new salon government guidelines whilst maintaining
            a high level service in a spacious and safe environment
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- End About Section -->
  {% endblock %}
</main>
