{% extends "home.html" %} {% block title %} SERVICES {% endblock %} {%block
content%}
<section id="Services" class="section-bg">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <p>OUR SERVICES</p>
    </div>

    <div class="row">
      <div class="col-md-3">
        <div class="box" data-aos="zoom-in" data-aos-delay="100">
          <a>
            <img
              src="assets/img/icon/hairwash-icon.png"
              class="icon"
              alt="Image" />
            <br
          /></a>
          <div>HAIR WASH</div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="box" data-aos="zoom-in" data-aos-delay="100">
          <img
            src="assets/img/icon/haircut-icon.png"
            class="icon"
            alt="Image"
          />
          <br />
          <p>HAIR CUT</p>
        </div>
      </div>

      <div class="col-md-3">
        <div class="box" data-aos="zoom-in" data-aos-delay="100">
          <img src="assets/img/icon/hair-icon.png" class="icon" alt="Image" />
          <br />
          <p>HAIR TREATMENT</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="box" data-aos="zoom-in" data-aos-delay="100">
          <img
            src="assets/img/icon/makeup1-icon.png"
            class="icon"
            alt="Image"
          />
          <br />
          <p>MAKEUP</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="box" data-aos="zoom-in" data-aos-delay="100">
          <img
            src="assets/img/icon/facial1-icon.png"
            class="icon"
            alt="Image"
          />
          <br />
          <p style="text-align: center">FACIAL</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="box" data-aos="zoom-in" data-aos-delay="100">
          <img
            src="assets/img/icon/manicure-icon.png"
            class="icon"
            alt="Image"
          />
          <br />
          <p>MANICURE & PADICURE</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="box" data-aos="zoom-in" data-aos-delay="100">
          <img src="assets/img/icon/waxing-icon.jpg" class="icon" alt="Image" />
          <br />
          <p>WAXING</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
